.calculator {
    height: 380px;
    width: 170px;
    overflow: hidden;
    background-color: black;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 12% 12% 12% 12% 12%;
}
