@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('./fonts/RobotoCondensed-Regular.ttf');
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background: linear-gradient(to top, #1a191a, #008044);
}